.wrapper {
  padding: 2rem 80px;
}

.header {
  &__container {
    border-bottom: 1px solid black;
  }

  &__logo {
    margin-bottom: 16px;
  }

  &__title {
    display: flex;
    justify-content: center;
    margin-top: 48px;
  }

  &__news {
    margin-top: 48px;
    padding: 15px 0;
    background-color: black;
    width: 100%;
    display: flex;
    align-items: center; /* Выравниваем текст и заголовок по одной линии */
    overflow: hidden;
    position: relative;

    &-title {
      color: white;
      font-family: 'General Sans', sans-serif;
      font-weight: 700;
      font-size: 24px;
      text-transform: uppercase;
      padding-left: 20px;
      letter-spacing: 1.5px;
      flex-shrink: 0; /* Заголовок остаётся фиксированным */
    }

    &__wrapper {
      display: flex;
      flex-grow: 1; /* Занимает всю доступную ширину */
      overflow: hidden;
      position: relative;
      mask-image: linear-gradient(to right, transparent 0%, white 10%, white 90%, transparent 100%);
      -webkit-mask-image: linear-gradient(
        to right,
        transparent 0%,
        white 10%,
        white 90%,
        transparent 100%
      );
    }

    &__strings {
      display: flex;
      white-space: nowrap;
      gap: 50px;
      min-width: 200%;
      font-family: 'General Sans', sans-serif;
      color: #fff;
      font-size: 20px;
      font-weight: 400;
      text-transform: uppercase;
      animation: creeping-line 12s linear infinite;
    }
  }
}

@keyframes creeping-line {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(-70%);
  }
}
